<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nas2skupa.do12"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="com.nas2skupa.do12.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.nas2skupa.do12.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_5do12"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="Globals" >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.nas2skupa.do12.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" >
            <intent-filter android:name="android.intent.filter.MAIN" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nas2skupa.do12.Organizer"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.LoginScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nas2skupa.do12.HomeScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.Subcats"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.ProviderList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.Favorites"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.Akcije"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.nas2skupa.do12.SearchActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.nas2skupa.do12.SingleProvider" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.nas2skupa.do12.ProfilActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.nas2skupa.do12.OrderActivity" >
        </activity>

         Google Cloud Messaging Service and Notifications
        <service android:name=".GcmIntentService" >
            <meta-data android:name="GCM_PROJECT_ID" android:value="@string/gcm_project_id" />
        </service>

        <receiver android:name=".GcmBroadcastReceiver" >
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
