<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nas2skupa.do12"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="Globals" >
        <activity
            android:name="com.nas2skupa.do12.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nas2skupa.do12.LoginScreen"
            android:label="@string/app_name"
            android:parentActivityName="com.nas2skupa.do12.SplashScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nas2skupa.do12.SplashScreen" />
        </activity>
        <activity
            android:name="com.nas2skupa.do12.HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.Subcats"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.ProviderList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nas2skupa.do12.Organizer"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity> 
        <activity
            android:label="@string/app_name"
            android:name="com.nas2skupa.do12.SingleContactActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.nas2skupa.do12.SingleProvider" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.nas2skupa.do12.OrderActivity" >
        </activity>
    </application>

</manifest>
